h2{
    color: coral;
    background-color: darkblue;
}
h3{
    color: darkcyan;
    background-color: darkgray;
}
b{
    border-color: darkred;
}
i{
    color: darkslategray;
    background-color: seagreen;
}